article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* colours */

/* white: #fcfcfc
lightGreen: #c3d3cb
black: #000
darkGreen: #152d20 */


/* global styles */

body {
    font-size: 20px;
}

.wrapper {
    max-width: 1600px;
    /* I got this number from the design file being 1600px wide */
    margin: 0 auto;
}

a:visited {
    color: white;
}


a {
    text-decoration: none;
}


i {
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

h2 {
    color: white;
    font-family: "Fredericka the Great", serif;
    font-size: 2.55rem;
    text-transform: uppercase;
}

h3 {
    color: #152d20;
    font-family: "Fredericka the Great", serif;
    font-size: 1.75rem;
    text-transform: uppercase;
}
/* styles for multiple sections  */

.suzie,
.spotlight {
    background: #152d20;
    padding-top: 1px;
}

.content {
    padding: 10%;
}

/* buttons and hover states */

.button {
    font-family: "Cormorant Garamond", serif;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #152d20;
    background: white;
    padding: 17px 15.5px;
    font-weight: 600;
    line-height: 1.61;
}

.button:hover {
    background: navajowhite;
    border: 0.5px solid #152d20;
    transition: 0.3s;
}

.suzie .button:hover{
    border: none;
}

a:hover {
    color: navajowhite;
}

i:hover,
.subscribe:hover {
    color: navajowhite; 
    transition: 0.3s;
}

.topNav a:hover,
footer a:hover {
    color: navajowhite;
    border-bottom: 1px solid navajowhite;
}

.blogText .button:hover {
    background: navajowhite;
    color: #152d20;
}

/* skip link styles */
/* basic styles from notes, updated to match site */

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  padding: 5px;
  background: #c3d3cb;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.skip-link:focus {
  left: 50%;
}

.skip-link:visited {
    color: black;
}

/* header styles */

header {
    /* border: 2px solid mediumaquamarine; */
    background: url(../assets/tiger@2x.jpg) center center;
    height: 100vh;
    background-size: cover;
    padding-top: 1px;
}

.topNav {
    margin-left: 10%;
    margin-top: 24px;
}

.topNav a {
    margin-right: 23px;
    font-size: 1.1rem;
    font-family: "Cormorant Garamond", serif;
    text-transform: uppercase;
    color: white;
    list-style: none;
    line-height: 1.32;
}

.hamburgerNav {
    width: 10%;
    max-width: 60px;
    float: right;
    margin: 20px;
    display: none;
}

h1 {
    font-family: "Fredericka the Great", serif;
    font-size: 6rem;
    color: white;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    float: right;
    line-height: 0.98;
}

.socialNav {
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.socialNav li {
    margin-bottom: 5px;
}


/* suzie's story styles */


.suzie .image {
    width: 40%;
    float: left;
    margin-right: 4%
}

.suzie .description {
    width: 56%;
    color: white;
    float: left;
}

.suzie .description h2 {
    margin: 0;
}

.suzie .description p {
    font-family: 'Roboto', sans-serif;
    font-weight: light;
    margin-bottom: 32px;
    line-height: 1.45;
}

.suzie .button {
    color:  #152d20;
}

/* meet our friends styles */


.friends {
    background: #c3d3cb;
    padding-top: 1px;
}

.friends h2 {
    color: #152d20;
    text-align: center;
    width: calc(33.3% + 4%);
    margin: 0 auto;
    margin-bottom: 90px;
}

.friends .image {
    width: calc(33.3% - 2%);
    margin-right: 3%;
    float: left;
}

.friends .image:nth-child(4) {
    margin: 0px;
}

/* Spotlight section styles */

.spotlightItem .content {
    width: 70%;
}
.spotlightItem {
    float: left;
    width: calc(33.3% - 2%);
    margin-right: 3%;
    text-align: center;
    color: white;
    font-size: 1.95rem;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}

.spotlightItem:nth-child(3) {
    margin: 0px;
}

.spotlightItem i {
    font-size: 4.5rem;
    margin-bottom: 15px;
}

.spotlightItem p {
    max-width: 160px;
    margin: 0 auto;
}

/* blog section styles */


.post {
    width: 100%;
}

.image {
    width: 50%;
    float: left;
}

.image img {
    object-fit: cover;
    display: block;
}

.blogTextContainer {
    width: 50%;
    /* float: left; */
}

.zebra {
    float: right;
}

.blogTextContainer2 {
    float: left;
}

.blogText1 {
    padding-left: 10%;
    padding-right: 6%;
}

.blogText2 {
    padding-right: 10%;
    padding-left: 6%;
    vertical-align: middle;
}

.blogText {
    padding-top: 10%;
    padding-bottom: 10%;
    
}

.blogText p {
    font-family: 'Roboto', sans-serif;
    font-weight: light;
    margin-bottom: 50px;
    line-height: 1.45;
}

.blogText .button {
    background: #152d20;
}


/* footer styles */

footer {
    clear: both;
    background: #152d20;
}

h4,
.footerLeft {
    color: white;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    margin: 0px 0px;
    line-height: 1.45;
}


.footerMain {
    padding: 8%;
}

.footerSection {
    float: left;
    width: 33.3%;
    color: white;
}

.footerSection p,
.footerRight ul {
    font-family: 'Roboto', sans-serif;
    font-weight: light;
    margin-top: 15px;
    line-height: 1.45;
    font-size: 1rem;
}

.footerLeft,
.footerRight {
    width: 25%;
}

.footerCenter {
    text-align: center;
    width: 50%;
}

.email {
    width: 75%;
    padding: 7px;
    border: none;
    padding-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: light;
    font-size: 1rem;
}

.subscribe {
    background: black;
    color: white;
    font-size: 0.9rem;
    font-family:  'Cormorant Garamond', serif;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    padding: 10px;
    width: 20%;
    min-width: 95px;
}

.footerRight {
    text-align: right;
    float: right;
}

.copyright {
    width: 100%;
    background: black;
    color: white;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
}

.copyright p {
    margin: 0;
}


/* MEDIA QUERIES */



@media (max-width: 1250px) {
    .blogText {
        padding-top: 5%;
    }

    .suzie .content {
       padding: 5%;
    }

    .footerMain {
        padding: 8% 3%;
    }
}
        
@media (max-width: 1170px) {
    .blogText {
        padding-bottom: 0;
    }

    .blogText h3 {
        margin-top: 0px;
    }
}

@media (max-width: 1094px) {
    .suzie .image  {
        float: none;
        margin: 0 auto;
        width: 80%;
    }

    .suzie .description {
        float: none;
        width: 80%;
        margin: 5% auto;
    }

    .suzie .description p {
        margin-bottom: 40px;
    }
    
    .suzie .button {
        margin-left: calc(50% - 56px);
        /* I was trying to center this with margin: 0 auto but I was having trouble so this is 50% - half the width of the button */
    }

    .friends h2 {
        width: 70%;
        max-width: 310px;
    }

    .blogTextContainer,
    .image {
        float:none;
        width: 100%;
    }

    .blogText {
        padding-top: 10%;
        padding-bottom: 10%;
        text-align: center;
    }

    .footerLeft {
        width: 20%;
    }

    .footerRight {
        width: 30%;
    }

    .email {
        width: 50%;
    }

    
}

@media (max-width: 910px) {
    .topNav {
        display: none;
    }
    h1 {
        font-size: 3.5rem;
        float: left;
        width: 35%;
        margin-left: 25px;
        margin-top: 20px;
    }

    .socialNav {
        display: none;
    }

    .hamburgerNav {
        display: block;
    }

    .suzie .image{
        width: 90%;
    }

    .suzie .description {
        width: 90%;
    }

    .footerSection,
    .footerRight {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .footerLeft li {
        float: left;
        width: 25%;
        margin-bottom: 50px;
    }

    .email,
    .subscribe {
        width: 100%;
        height: 50px;
    }

    .email {
        text-align: center;
        margin-bottom: 12px;
        padding: 7px 0px;
    }

    .subscribe {
        font-family: 'Catamaran', sans-serif;
        font-weight: bold;
        margin-bottom: 50px;
    }
}

@media (max-width: 850px) {
    header {
        background-position: 40% center;
    }

    .friends .image:nth-child(4) {
        display: none;
    }
    .friends .image {
    width: calc(50% - 3%);
    margin-right: 3%;
    float: left;
    }

    .spotlightItem {
        float: none;
        margin: 0 auto;
        /* text-align: center; */
        margin-bottom: 50px;
        width: 50%;
    }

    .spotlightItem:nth-child(3) {
    margin: 0 auto;
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 2.5rem;
        width: 25%;
        min-width: 180px;
    }

    .suzie h2 {
        font-size: 1.9rem;
    }

    .suzie .description {
        font-size: 0.9rem;
    }
}

@media (max-width: 550px) {
    .friends h2 {
        font-size: 1.9rem;
        width: 90%;
    }

    .spotlightItem p {
        font-size: 1.35rem;
    }

    .spotlightItem i {
        font-size: 3.5rem;
    }

    .email,
    .subscribe {
        font-size: 0.9rem;
    }

    .copyright,
    .footerRight li {
        font-size: 0.7rem;
    }

}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
        min-width: 110px;
    }
    
    h3 {
        font-size: 1.1rem;
        width: 50%;
        margin: 0 auto;
    }
    
    .blogText {
        font-size: 0.9rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    .footerLeft li {
        font-size: 0.9rem;
    }
}



